header{
	padding: 5px 0;
}
p{
	padding:5px 0;
	color: #999898;
}
p a{
	padding-right: 8px;
	color: #999898;
}
p a:hover{
		text-decoration: none;
}
#logo{
    font-size: 40px;
    margin: 0;
    padding-left: 10px;
    font-weight: 900;
    color: #595959;
}
#logo small{
        font-size: 60%;
    font-weight: 300;
}
.images{

    height: 400px;
    width: 100%;
    background: url(http://ymsgundam.com/image/cache/data/hinhsp/bandai/hg/hgbuildstrike_boxart-700x700.jpg) no-repeat center;
    background-attachment: fixed;
}
.container{
	margin: 0 auto;
	background: url(../images/body-bg.jpg) repeat;
}
.navbar{
	border-radius: 0;
	margin: 0;
}
.navbar-brand{
	padding: 0;
	height: 0;
}

#logo small{
        font-size: 60%;
    font-weight: 300;
}
.middle{
    position: absolute;
}
.text{
    position: relative;
     font-size: 40px;
     margin: 0;
    padding-left: 10px;
    font-weight: 900;
    color: #595959;
}
.test{
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.test:hover .text::before{
height: 100%;
width: 100%;
color: #0195E0;
}
nav{
	border: none;
	background-color: #0195E0;
	height: 50px;
	text-transform: uppercase;
}
nav ul{
	list-style: none;
	padding-left: 10px;
	margin: 0;
}
nav ul li{
	float: left;
     z-index: 6;
     position: relative;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 16px 16px;
	font-family: 'Tahoma';
	font-size: 12px;
   font-weight: bold;
   display: block;  
   z-index: 6;
}
nav ul li:hover{
	background: #fff;
}
nav ul li:hover>a{
    color: #333;
    text-decoration: none
}
nav ul li>ul{
    background: #fff;
     visibility: hidden;
     position: absolute;
     padding-right: 10px;
}
nav ul li> ul li{
    width: 150px;
    border-bottom: 1px solid #333 ;
}
nav ul li> ul li:top-child{
    border: 1px solid  #0195E0;
}
nav ul li> ul li:last-child{
    border: none;
}
nav ul li> ul li a{
    color: #333;
    height: 40px;
    padding-top: 12px;
    text-transform: none;
}
nav ul li> ul li a:hover{
    color: #0000ff;
    text-transform: none;
}
nav ul li:hover>ul{
    visibility: visible;
    z-index: 6;
}
.navbar-right p{
	text-align: right;
}
.navbar-right p a{
	text-decoration: none;
	color: #999898;
	font-size: 13px;
}
footer{
	padding-bottom: 10px 0;
}
h3{
	padding-left: 10px;
	text-transform: uppercase;
	color: #fff;
	border-bottom: solid 2px #fff;
	padding-bottom: 10px;
}
h3 span{
	font-size: 15px;
}
#wrap-footer-top {
    background: url(../images/footer.png) repeat;
    border-top: 1px solid #e3e3e3;
    display: inline-block;
    width: 1140px;
    padding-bottom: 45px;
    padding-top: 15px;
}
.box-footer-top ul{
	padding-left: 15px;
}
.box-footer-top ul li {
    color: #fff;
    line-height: 2;
    font-weight: 200;
}
.box-footer-top ul li a {
    color: #fff !important;
    display: block;
    line-height: 35px;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #527990;
    padding: 0 2px;
    font-weight: 200;
}
.tendiachi{
    color: #999;
    margin: 5px 0 5px 10px;
}
.tendiachi a{
	color: #999;
	font-style: italic;
}