header{
    padding: 5px 0;
}
p{
    padding:5px 0;
    color: #999898;
}
p a{
    padding-right: 8px;
    color: #999898;
}
p a:hover{
        text-decoration: none;
}
.container{
    margin: 0 auto;
     background: url(../images/body-bg.jpg) repeat;
}
.navbar{
    border-radius: 0;
    margin: 0;
}
.navbar-brand{
    padding: 0;
    height: 0;
}
#logo{
    font-size: 40px;
    margin: 0;
    padding-left: 10px;
    font-weight: 900;
    color: #595959;
}
#logo small{
        font-size: 60%;
    font-weight: 300;
}
nav{
    border: none;
    background-color: #0195E0;
    height: 50px;
    text-transform: uppercase;
}
nav ul{
    list-style: none;
    padding-left: 10px;
    margin: 0;
}
nav ul li{
    float: left;
     z-index: 6;
     position: relative;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 16px 16px;
    font-family: 'Tahoma';
    font-size: 12px;
   font-weight: bold;
   display: block;  
   z-index: 6;
}
nav ul li:hover{
    background: #fff;
}
nav ul li:hover>a{
    color: #333;
    text-decoration: none
}
nav ul li>ul{
    background: #fff;
     visibility: hidden;
     position: absolute;
     padding-right: 10px;
}
nav ul li> ul li{
    width: 150px;
    border-bottom: 1px solid #333 ;
}
nav ul li> ul li:top-child{
    border: 1px solid  #0195E0;
}
nav ul li> ul li:last-child{
    border: none;
}
nav ul li> ul li a{
    color: #333;
    height: 40px;
    padding-top: 12px;
    text-transform: none;
}
nav ul li> ul li a:hover{
    color: #0000ff;
    text-transform: none;
}
nav ul li:hover>ul{
    visibility: visible;
    z-index: 6;
}
.navbar-right p{
    text-align: right;
}
.navbar-right p a{
    text-decoration: none;
    color: #999898;
    font-size: 13px;
}
footer{
    padding-bottom: 10px 0;
}
h3{
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: solid 2px #fff;
    padding-bottom: 10px;
}
h3 span{
    font-size: 15px;
}
#wrap-footer-top {
    background: url(../images/footer.png) repeat;
    border-top: 1px solid #e3e3e3;
    display: inline-block;
    width: 1140px;
    padding-bottom: 45px;
    padding-top: 15px;
}
.box-footer-top ul{
    padding-left: 15px;
}
.box-footer-top ul li {
    color: #fff;
    line-height: 2;
    font-weight: 200;
}
.box-footer-top ul li a {
    color: #fff !important;
    display: block;
    line-height: 35px;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #527990;
    padding: 0 2px;
    font-weight: 200;
}
#sanpham a.stylechuthich {
    background-color: #0195E0;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    line-height: 40px;
    font-weight: 400;
    padding: 5 5px;
    border: 1px solid #f00;
    border-radius: 123px;
    margin-top: 19px;
    margin-left: 10px;
    text-align: center;
    color:#fff;
    font-weight: bold;
}
.col-md-9 {/*đường kẻ*/
    width: 81%;
}
.line-title {
    border-top: 2px solid #f00;
    position: relative;
    bottom: -40px;
}
.danhsachSP{
    padding-top: 10px;
}
section .col-md-3{
    width: 234px;
}
.name a {
    color: #444;
    text-align: center;
    font-weight: noraml;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    margin-top: 10px;
    border-top: 1px solid #eee;
    font-family: 'Tahoma';
}
.gia{
    display: block;
    width: 127%;
    font-weight: bold;
    color: #3884ab;
    font-size: 16px;
    margin-bottom: 5px;
    padding-right: 50px;
    text-align: center;
}
.giagoc {
    color: #F00;
    text-decoration: line-through;
}

#sanpham a.stylechuthich {
	background-color: #0195E0;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    line-height: 40px;
    font-weight: 400;
    padding: 5 5px;
    border: 1px solid #f00;
    border-radius: 123px;
    margin-top: 19px;
    margin-left: 10px;
    text-align: center;
    color:#fff;
    font-weight: bold;
}

.line-title {
    border-top: 2px solid #f00;
    position: relative;
    bottom: -40px;
}
.danhsachSP{
	padding-top: 10px;
}

.name a {
    color: #444;
    text-align: center;
    font-weight: noraml;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    margin-top: 10px;
    border-top: 1px solid #eee;
    font-family: 'Tahoma';
}
.col-md-4 {
    width: 33.33333333%;
}
#d_quickcheckout .login-btn-group {
    margin-bottom: 20px;
}
#d_quickcheckout .btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
 #d_quickcheckout .btn-group-justified > .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}
 #d_quickcheckout .chu{
    font-size: 12px;
    padding-left: 0px;
    color: #fff;
 }
 #d_quickcheckout .chu1{
    font-size: 12px;
    padding-left: 0px;
    color: black;
 }
#d_quickcheckout .qc-totals .row:last-child div, #d_quickcheckout .qc-totals .row:last-child label {
    font-size: 20px;
    font-weight: bold;
}