<footer class="container" >
 <div id="wrap-footer-top">
  <div class="col-md-3 box-footer-top">
   <h3 class="title-footer">Đăng kí nhận tin</h3>
   <span class="line-footer"></span>
   <p>
   </p>
   <input type="hidden" id="" name="" value="">
   <div id="">
    <div class="input-group input-group-sm">
     <input type="text" class="form-control" placeholder="Nhập email của bạn">
     <span class="input-group-btn">
      <button class="btn btn-default theme_button" type="submit">Đăng ký</button>
    </span>
  </div>
</div>
</div><!--end .col-sm-4 box-footer-top-->
<div class="col-md-2 box-footer-top">
 <h3 class="title-footer">Hỗ trợ</h3>
 <span class="line-footer"></span>
 <ul>
  <li><a href="huongdanmuahang.html">Chính Sách Đổi Trả</a></li>

  <li><a href="huongdanmuahang.html">Chính Sách Bảo Mật</a></li>

  <li><a href="huongdanmuahang.html">Quy Định Bảo Hành</a></li>

  <li><a href="huongdanmuahang.html">Tài Khoản Ngân Hàng</a></li>

</ul>
</div><!--end .col-sm-4 box-footer-top-->
<div class="col-md-3 box-footer-top box-footer-card">
 <h3 class="title-footer">Giới thiệu</h3>
 <span class="line-footer"></span>
 <ul>
  <li class="footer-cty"><span>GunDamShop - Kênh mua bán mô hình Gundam chính hãng</span></li>
  <li>Email: <span>nhangnhit99@gmail.com</span></li>
  <li>Hotline: <span>0967594691</span></li>
  <li>
   <p class="text-footer-list">
    Đem lại cho Quý khách dịch vụ tốt nhất. Cảm ơn bạn đã tin dùng website của tôi
  </p>
</li>
</ul>
</div><!--end .col-sm-4 box-footer-top-->
<div class="col-md-4 box-footer-top facebook-footer">
 <div class="widget widget_tag_cloud" id="widget-footer-facebook">
  <h3 class="title-footer">Facebook</h3>
  <span class="line-footer"></span>
  <div class="face-content">
   <div class="" style="width:370px;height:20px;">
    <img class="" src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/23319215_2029328473962262_371001918829480575_n.jpg?_nc_cat=102&ccb=2&_nc_sid=19026a&_nc_ohc=lUAWNvdmIJoAX_i5QUQ&_nc_ht=scontent-hkt1-1.xx&oh=4316104399e27774913f6dc20bfa2002&oe=5FCB8665" style="top:-12px;" alt="" width="350" height="160">
  </div>
  <div class="row" style="padding-left: 20px;">
    <a class="col-md-2" href="https://www.facebook.com/xuanthang.isme99/" target="">
     <img class="" src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/71873404_2483765911851847_5338339754142334976_o.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_ohc=dIl4hueBpbwAX-Bd8eY&_nc_ht=scontent-hkt1-1.xx&oh=a4ac5680a76c548853dc9c8d49becce2&oe=5FCA01D5" height="50" width="50" alt=""></a>
     <div class="col-md-4" style="">
      <div>
       <a style="max-width: 270px;text-decoration: none;color: #fff;font-family: 'Tahoma';font-size: 15px;font-weight: bold;" class="" title="" href="https://www.facebook.com/xuanthang.isme99/" target="">Xuân Thắng</a>
     </div>
     <div class="" style="max-width: 100px;font-weight: bold;color: #fff">(Thắng CT)</div>
   </div>
 </div>

</div>
</div>
</div><!--end .facebook-footer-->
</div><!--end .fixfooter-->
</footer>
<footer id="wrap-footer-bottom">
  <div class="container">

   <div class="pull-left">
    <p>Copyright © 2019. Designed by <a href="facebook.com/nhang.nhit.2706" style="color:#0195E0;">Thắng Đẹp Trai Vô Định</a>. All rights reseved</p>
  </div><!--end .pull-left-->
  <div class="pull-right">
    <a href="https://www.facebook.com/xuanthang.isme99/"><img src="assets/frontend/images/facebook.png" alt=""></a>
    <a href="https://twitter.com/xuanthangisme"><img src="assets/frontend/images/twitter.png" alt=""></a>
    <a href="https://www.youtube.com/c/ThangBXT"><img src="assets/frontend/images/youtube.png" alt=""></a>
  </div><!--end .pull-right-->

</div><!--end .container-->
</footer>
